@import './variaveis';

.link-leia-mais {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    width: 100%;
    background: $black;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
    >img {
        margin-left: 20px;
        background: $default_yellow;
        border-radius: 50%;
        padding: 5px;
    }
    &:hover {
        color: $white;
        background-color: $default_yellow;
    }  
}