//cores
$white: #fff;
$black: #000;
$blue: #202F48;
$light-grey: #F3F5F7;
$light-grey-2: #E4E4E4;
$yellow-2: #FFB500;

$default_grey: #21252C;
$default_yellow: #FDBE2D;


$divider_border_color: rgba(255,255,255,0.2);

$gradient_default: radial-gradient(178.13% 6214.69% at 157.97% -59.37%, #FED2C9 0%, #404482 100%);

