//components
@import './includes/nav';
@import './includes/footer';
@import './includes/curriculo';

//pages
@import './pages/home';

//utils
@import './utils/variaveis';

//global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 720px){
    html {
        font-size: 87.5%;
    }
}

body, button {
    font: 400 1rem 'Montserrat', sans-serif;
}
input, textarea, select {
    font: 500 1rem 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3 {
    letter-spacing: 2px;
    line-height: 44px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.25rem;
}