@import '../utils/variaveis';

section.contato-container {
    background: $default_grey;
    color: $white;
    padding: 100px 10px;
    .contato-content {
        max-width: 1100px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        .contato-acesso-rapido {
            ul {
                list-style: none;
                text-transform: uppercase;
                li {
                    font-size: 15px;
                    letter-spacing: 0.04em;
                    line-height: 47px;
                    cursor: pointer;
                    transition: all 0.3s;
                    &::before {
                        content: url('../img/footer/seta-cinza-lista.png');
                        margin-right: 10px;
                    }
                    &:hover {
                        transform: translateX(10px);
                        &::before {
                            content: url('../img/footer/seta-lista.png');
                        }
                    }
                }
            }
        }
        .contato-onde-estamos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
                display: block;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 0.04em;
                line-height: 47px;
            }

            #contato-acompanhe-nos {
                margin-bottom: 20px;
            }

            .onde-estamos-social {
                display: flex;
                align-items: center;

                a {
                    transition: all 0.3s;

                    img {
                        margin-right: 20px;
                        width: 13px;
                        height: 13px;
                    }

                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }
        }

        .contato-contatos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 300px;
            width: 100%;

            h3 {
                text-align: right;
            }

            > a {
                text-transform: uppercase;
                font-size: 17px;
                border-bottom: 1px solid transparent;
                transition: all 0.3s;
                margin-left: 20px;
                padding: 5px 0;
                &:hover {
                    border-color: $default_yellow;
                }
            }

            .contato-contatos-card {
                display: flex;
                align-items: center;
                width: 100%;
                
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 10px;

                transition: all 0.3s;
                border: 1px solid transparent;

                &:hover {
                    border-color: $default_yellow;
                }
                img {
                    width: 31px;
                    height: 31px;
                    margin-right: 10px;
                }
                
                .contatos-card-info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    small {
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    span {
                        font-size: 27px;
                        line-height: 35px;
                        strong {
                            font-weight: 700;
                        }
                    }
                    
                }
            }
        }
    }
}

footer {
    background: $default_grey;
    color: $white;
    font-size: 11px;
    min-height: 175px;
    border-top: 1px solid $divider_border_color;

    .footer-container {
        max-width: 1100px;
        width: 100%;
        min-height: 175px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-weight: 500;

        @media(max-width: 997px){
            padding: 20px 10px;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }

        .footer-link-logo {
            transition: all 0.3s;
            &:hover {
                filter:brightness(0.7);
            }
        }

        #direitos-reservados {
            margin: 30px 0;
        }

        #desenvolvido-por {
            display: flex;
            align-items: center;
            a {
                transition: all 0.3s;
                &:hover {
                    filter: brightness(0.7);
                }
                img {
                    margin-left: 15px;
                }
            }
        }
    }
    
}