@import '../utils/variaveis';

nav {
    background: $black;
    color: $white;
    min-height: 86px;
    
    .nav-content {
        height: 100%;
        margin: 0 auto;

        padding: 0 10px;

        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-transform: uppercase;
        @media(max-width: 1170px){
            padding: 10px 0 0;
        }

        .nav-header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .nav-link-logo {
                transition: all 0.3s;
                &:hover {
                    filter: brightness(0.7);
                }
            }
    
            #collapse-nav-button {
                display: none;
                background: $default_yellow;
                cursor: pointer; 
                font-size: 1.5rem;
                padding: 10px;
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.1);
                }
                @media(max-width: 768px){
                    display: block;
                }
            }
            
            @media(max-width: 768px){
                width: 100%;
                justify-content: space-between;
                padding: 10px;
            }
        }

        .nav-bar {
            width: 100%;
            min-height: 86px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            letter-spacing: 0.04em;
            .nav-link {
                margin: 0 10px;
                a {
                    transition: all 0.3s;
                    &:hover {
                        color: $default_yellow;
                    }
                }
            }
            @media(max-width: 1235px){
                width: auto;
                margin: 0 auto;
            }
            @media(max-width: 768px){
                display: none;
                flex-direction: column;
                width: 250px;
                margin: 20px auto;
                .nav-link {
                    width: 100%;
                    margin: 0;
                }
                a {
                    text-align: center;
                    padding: 15px 10px;
                    margin: 0 auto;
                    display: block;
                    &:hover {
                        color: $black !important;
                        background: $default_yellow;
                    }
                }
            }
        }
        #nav-contato {
            max-width: 215px;
            width: 100%;
            min-height: 60px;
            background: $default_yellow;
            color: $black;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;

            letter-spacing: 0.025em;

            transition: all 0.3s;

            &:hover {
                filter: brightness(0.7);
            }
            @media(max-width: 1170px){
                max-width: 100%;
            }
        }
        @media(max-width: 1170px){
            flex-direction: column;
        }
    }
    @media(max-width: 768px) {
        min-height: unset ;
        .nav-bar {
            min-height: unset !important;
        }
    }
}