@import '../utils/variaveis';

.sobre-socials {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -84px;
    left: 5%;
    .sobre-socials-content {
        width: 77px;
        height: 84px;
        
        a {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            img {
                transition: all 0.3s;
            }

            &:hover {
                background: #BEA2B1;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            }
        }
    }
    .face {
        background: $default_grey;
    }
    .insta {
        background: $yellow-2;
    }
    @media(max-width: 1000px){
        bottom: -60px;
        left: 1%;
        .sobre-socials-content {
            width: 50px;
            height: 60px;
        }
    }
    @media(max-width: 1000px){
        bottom: -60px;
        left: 1%;
        .sobre-socials-content {
            width: 50px;
            height: 60px;
        }
    }
}