@import '../utils/variaveis';

html, body {
    overflow-x: hidden;
}

main.main-blog {
    overflow: hidden;
}

section.filtro-blog {
    padding:0 10px 30px;
    .filtro-blog-content {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .filtro-blog-form {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            h1 {
                max-width: 250px;
                font-size: 35px;
                line-height: 45px;
                text-transform: uppercase;
                color: $blue;
                flex:1;
            }

            form {       
                display: flex;
                align-items: center;
                flex: 3;
                max-width: 765px;
                label {
                    letter-spacing: 0.015em;
                    width: 100%;
                    display:flex;
                    align-items: center;
                    max-width: 200px;
                    margin-right: 10px;
                    img {
                        margin-right: 10px;
                    }
                }
                .pesquisa-wrapper {
                    display: flex;
                    margin-right: 15px;
                    input {
                        height: 100%;
                        border: none;
                        max-width: 200px; 
                    }

                    button {
                        flex: 4;
                        border: none;
                        font-size: 12px;
                        background: transparent;
                        font-weight: 700;
                        color: $default_yellow;
                        padding-left: 5px;
                        border-left: 1px solid rgba(0,0,0,0.1);
                        transition: all 0.3s;
                        &:hover {
                            color: $black;
                        }
                    }
                }

                .select-wrapper {     
                    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */ 
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::after {
                        content: '';
                        position: absolute;
                        right: 17%;
                        border-left: 1px solid rgba(0,0,0,0.1);
                        width: 1px;
                        height: 20px;
                    }
                    select {      
                        height: 100%;
                        margin-left: 10px;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: url('../img/blog/icons/select-arrow.png') no-repeat;  /* Imagem de fundo (Seta) */      
                        background-position: 98%    center;  /*Posição da imagem do background*/      
                        width: 100%; /* Tamanho do select, maior que o tamanho da div "div-select" */      
                        font-size:18px;
                        color:$black;   
                        border: none;  
                        text-indent: 0.01px;         
                        &::-ms-expand {display: none}
                    }                   
                }
                .pesquisa-wrapper, .select-wrapper {
                    max-width: 265px;
                    max-height: 50px;
                    width: 100%;
                    border-radius: 100px;
                    border: 1px solid $black;
                    padding: 15px 10px;
                    input,select {
                        outline: none;
                    }
                }
            }
            @media(max-width: 1170px){
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    margin-bottom: 20px;
                    max-width: unset;
                    font-size: 30px;
                }
                form {
                    width: 100%;
                }
            }

            @media(max-width: 768px){
                margin-top: 20px;
                form {
                    flex-direction: column;
                    .pesquisa-wrapper {
                        margin-right: 0;
                        order: 3;
                    }
                    .select-wrapper {
                        margin: 30px 0;
                    }
                }
            }
        }
    }
}

section.listagem-blog {
    background: #F3F5F6;
    .listagem-blog-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 10px;

        .blog-post-link {
            display: block;
            & + .blog-post-link {
                margin-top: 80px;
                @media(max-width: 768px){
                    margin-top: 50px;
                }
            }

            &:hover {
                .listagem-post-thumbnail {
                    >img {
                        filter: brightness(0.8);
                    }
                }
                .listagem-post-date {
                    background: $black !important;
                    color: $white !important;
                }

                .link-leia-mais {
                    background: $black !important;
                    color: $white !important;
                    -webkit-box-shadow: 0px 12px 16px -7px rgba(0,0,0,0.45);
                    -moz-box-shadow: 0px 12px 16px -7px rgba(0,0,0,0.45);
                    box-shadow: 0px 12px 16px -7px rgba(0,0,0,0.45);
                }
            }

            @media(max-width: 768px) { 
                .listagem-blog-post {
                    max-height: unset;
                }
                .listagem-post-thumbnail {
                    display: none;
                }
                .listagem-post-texto {
                    height: 100%;
                    max-width: unset;

                    h2 {
                        line-height: normal !important;
                        margin: 15px 0;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                    .link-leia-mais {
                        max-width: 200px !important;
                    }
                }
            }
        }

        .listagem-blog-post {
            display: flex;
            justify-content: space-between;
            
            
            .listagem-post-thumbnail {
                flex: 1;
                max-width: 570px;
                img {
                    max-width: 570px;
                    object-fit: cover;
                    border-radius: 10px;
                    transition: all 0.3s;
                    
                }
                
            }

            .listagem-post-texto {
                padding-left: 10px;
                max-width: 570px;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .listagem-post-date {
                    max-width: 90px;
                    text-align: center;
                    font-size: 13px;
                    background: $default_yellow;
                    color: $black;
                    padding: 4px;
                    transition: all 0.3s;
                }
                h2 {
                    line-height: 40px;
                    font-size: 33px;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }

                p {
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 28px;
                }

                .link-leia-mais {
                    background: transparent;
                    border: 1px solid $black;
                    color: $black;
                    max-width: 250px;
                    transition: all 0.7s;
                    
                    
                }
            }
            @media(max-width: 1170px){
                justify-content: center;
                max-height: 320px;
                .listagem-post-thumbnail {
                    max-width: 300px !important;
                
                    img {
                        max-width: 100% !important;
                        height: 100% !important;
                        object-fit: cover !important;
                    }
                }
                .listagem-post-texto {
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 15px;
                    }
                    .link-leia-mais {
                        max-height: 60px;
                    }
                }
            }
            
        }
        @media(max-width: 768px) {
            padding: 40px 10px;
        }
    }
}

section.pagination-blog {
    padding: 0 10px;
    min-height: 200px;
    display: flex;
    align-items: center;
    .pagination-blog-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a {
            font-weight: 600;
            font-size: 13px;
        }

        .pagination-next, .pagination-prev {
            display: flex;
            align-items: center;
            a {
                transition: all 0.3s;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid $black;
                }
            }
        }

        .pagination-prev {
            img {
                margin-right: 30px;
            }
        }
        .pagination-next {
            img {
                margin-left: 30px;
            }
        }
        .pagination-pages {
            max-width: 250px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
                text-align: center;
                font-size: 15px;
                max-width: 40px;
                width: 100%;
                max-height: 40px;
                height: 100%;
                border: 1px solid $light-grey-2;
                padding: 10px;
                border-radius: 50%;
                transition: all 0.3s;
                cursor: pointer;
                &:hover, &.active {
                    background: $black;
                    color: $white;
                }
            }
        }
        @media(max-width: 500px){
            flex-direction: column;
            align-items: center;
            .pagination-pages {
                margin: 20px 0;
            }
        }
    }
}