@import '../utils/variaveis';

main.main-home {
    overflow-x: hidden;
}

section.main-slider-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    @media(max-width: 1000px){
        .main-slider-content {
            height: 100% !important;
            .main-slider-slide {
                flex-direction: column;
                justify-content: space-around;
                height: 100% !important;
                .slider-info, .slider-buttons {
                    max-width: 100% !important;
                    padding: 10px !important;
                    width: 100% !important;
                    span, h1 {
                        text-align: center;
                    }
                    h1 {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .main-slider-content {
        height: 100%;
        #slide-1, #slide-2 {
            background: url('../img/home/main-slider.png') no-repeat;
            background-size: cover;
            background-position: top;
        }
        .main-slider-slide {
            height: 100%;
            color: $white;
            display: flex;
            align-items: center;
            height: calc(100vh - 86px);
    
            .slider-info {
                text-transform: uppercase;
                width: 34%;
                text-align: end;
                padding: 0 60px 0 10px;
                span {
                    font-size: 14px;
                    display: block;
                    background: $default_yellow;
                    padding: 5px;
                    color: $black;
                }
                h1 {
                    font-size: 52px;
                    line-height: 72px;
                    max-width: 540px;
                    margin-left: auto;
                    padding: 20px 5px;
                    @media(max-width: 1720px){
                        font-size: 30px;
                        line-height: 50px;
                    }
                    @media(max-width: 768px){
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
            }
            .slider-links {
                max-width: 440px;
                span {
                    display: block;
                    max-width: 440px;
                    font-weight: 600;
                    font-size: 30px;
                    text-shadow: 0px 4px 24px rgba(135, 135, 135, 0.92);
                    @media(max-width: 1235px){
                        font-size: 25px;
                        padding: 0 10px;
                    }
                    @media(max-width: 550px){
                        font-size: 16px;
                    }
                }
                .slider-links-flex {
                    margin-top: 30px;
                    display: flex;
                    max-width: 440px;
                    padding: 0 10px;
                    .first-slider-link, .second-slider-link {
                        height: 60px;
                        width: 100%;
                        text-transform: uppercase;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: filter 0.3s;
                        &:hover {
                            filter: brightness(0.8);
                        }
                        @media(max-width: 1235px){
                            font-size: 12px;
                        }
                    }
                    .first-slider-link {     
                        background: $default_yellow;
                        color: $black;
                    }
                    .second-slider-link {
                        background: $black;
                    }
                }
            }
            .slider-buttons {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                max-height: 150px;
                height: 100%;
                border-bottom: 1px solid rgba(255,255,255,0.3);
                border-right: 1px solid rgba(355,255,255,0.2);
                border-bottom-right-radius: 40%;
                
                .main-slider-prev, .main-slider-next {
                    background: transparent;
                    border: none;
                    margin: 0 5px;
                    transition: transform 0.3s;
                    img {
                        padding: 10px;
                        border-radius: 50%;
                        border: 1px solid $white;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    #left-background {
        position: absolute;
        bottom: -70%;
        left: -14%;

        color: $white;
        letter-spacing: 0.195em;
        text-transform: uppercase;
        opacity: 0.2;

        border: 1px solid $white;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        width: 60%;
        border-radius: 20%;
        height: 100%;
        padding: 100px 0 0 200px;
        @media(max-width: 768px){
            display: none;
        }
    }
}

section.encontre-vagas {
    min-height: 320px;
    height: 100%;
    background: $gradient_default;

    padding: 40px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: $white;
    .encontre-vagas-header, .encontre-vagas-form {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
    }
    .encontre-vagas-header {
        display: flex;
        align-items: center;
        > img {
            margin-right: 30px;
        }
        > span {
            font-weight: 600;
            font-size: 30px;
            text-shadow: 0px 4px 24px rgba(135, 135, 135, 0.92);
            max-width: 360px;
            display: block;
        }
        @media(max-width: 1170px){
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin-bottom: 30px;
            > img {
                margin-bottom: 10px;
            }
        }

    }
    form.encontre-vagas-form {
        display: flex;
        align-items: flex-end;
        padding-left: 125px;

        .input-vagas-container {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            width: 100%;

            font-size: 14px;
            font-weight: 500;
            // & + .input-vagas-container {
            //     margin-left: 50px;
            // }
            label {
                text-transform: uppercase;
            }
            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid $white;
                padding: 2px 0;
                color: $white;
                font-size: 14px;
                max-width: 250px;
            }
        }

        #estado-container {
            max-width: 200px;
            input {
                max-width: 150px;
            }
            @media(max-width: 1170px){
                max-width: 250px;
                input {
                    max-width: unset;
                    width: 100%;
                }
            }
        }

        #filtrar-button {
            text-transform: uppercase;
            background: $black;
            border: none;
            color: $white;
            min-width: 200px;
            min-height: 60px;
            font-size: 13px;
            font-weight: 600;
            // margin-left: 50px;
            transition: all 0.3s;
            &:hover {
                color: $black;
                background: $default_yellow;
            }
            @media(max-width: 1170px){
                margin-top: 15px;
                max-width: 250px;
                width: 100%;
            }
        }
        @media(max-width: 1170px){
            padding-left: 0;
            flex-direction: column;
            align-items: center;
            >div {
                margin: 15px 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                max-width: 300px;
                input {
                    max-width: 300px;
                    width: 100%;
                }
            }
        }
    }
}

section.slider-especialidades {

    .slider-especialidades-header {
        display: flex;
        background: $default_grey;
        width: 100%;
        max-height: 630px;
        height: 100%;

        .especialidades-header-wrapper {
            
            width: 100%;
            min-height: 630px;
            height: 100%;
            .slick-list, .slick-track {
                min-height: 630px;
                height: 100%; 
            }
            .especialidades-header-info {
                    width: 100%;
                    margin-left: auto;
                    color: $white;
                    display: flex;
                .especialidades-slide-headerinfo {
                    width: 100% !important;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 20px;
                    .especialidades-texto {
                        max-width: 500px;
                        h2 {
                            font-weight: 600;
                            font-size: 30px;
                            margin: 10px 0;
                        }
                        p {
                            font-size: 17px;
                            line-height: 28px;
                        }
                        > img {
                            width: 45px;
                            height: 45px; 
                        }
                    }
                }
                
            }
        }
        .especialidades-img-wrapper {
            width: 50%;
            .especialidades-header-img {
                max-height: 630px;
            }
        }
        
    }
    .slider-especialidades-slider {
        min-height: 245px;
        height: 100%;
        display: flex;
        
        
        .slider-especialidades-slides {
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            .slick-list, .slick-track {
                height: 100%;
            }

            .slick-current {
                transform: scaleY(1.1);
                transition: all 0.3s;
            }
            .slider-especialidades-slide {
                transition: all 0.3s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                transition: all 0.3;
                span {
                    font-weight: 500;
                    color: $white;
                    margin-top: 10px;
                    max-width: 150px;
                    text-align: center;
                }
            }
            
        }
        .slider-especialidades-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                border: none;
                background: none;
                border-radius: 50%;
                -webkit-box-shadow: 0px 10px 15px -10px rgba(0,0,0,1);
                -moz-box-shadow: 0px 10px 15px -10px rgba(0,0,0,1);
                box-shadow: 0px 10px 15px -10px rgba(0,0,0,1);
            }
        }
    }
}



section.onde-chegamos {
    position: relative;
    display: flex;

    //contagem
    div.contagem-candidatos-contratados {
        position: absolute;
        z-index: 3;
        top: 150px;
        right: 0;
        background: $default_yellow;
        width: 80%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 20px 20px 20px 100px;
        height: 280px;

        .contagem-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 300px;
            height: 80%;
            padding: 0 20px;
            color: $blue;
            
            h2 {
                font-size: 66px;
                font-weight: 900;
                line-height: 66px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .mapa-container {
        background: $default_grey;
        width: 100%;
        height: 1200px;
        display: flex;
        align-items: flex-end;
        padding: 0 10px 150px 80px;
        border-bottom-right-radius: 30%;
        position: relative;

        .mapa-content {
            padding-bottom: 70px;
        }

        .mapa-legenda {
            position: relative;
            padding-left: 80px;
            h3 {
                position: absolute;
                top: 0;
                left: -50%;
                color: $white;
                max-width: 50px;
                line-height: 20px;
            }
            ul {
                li {
                    color: $white;
                    &::marker {
                        color: $default_yellow;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .capilaridade {
        height: 1100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $blue;
        padding: 0 10px 150px 80px;

        span {
            font-size: 30px;
            font-weight: 500;
        }

        h2 {
            font-size: 60px;
            max-width: 80%;
            line-height: 60px;
            font-weight: 600;
            margin-top: 10px;
        }

        .capilaridade-button {
            margin-top: 80px;
            max-width: 250px;
            height: 60px;
            font-weight: 600;
            display: block;
            text-transform: uppercase;
            background: $default_yellow;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            &:hover {
                background: $blue;
                color: $default_yellow;
            }
        }
    }
}
