@import '../utils/variaveis';

main.main-integra {
    overflow-x: hidden;
}

section.integra-title {
    padding: 80px 10px 70px;
    .integra-title-content {
        text-align: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        span {
            font-size: 13px;
            background: $black;
            color: $white;
            padding: 5px 10px;
        }
        h1 {
            max-width: 900px;
            margin: 0 auto;
            font-size: 33px;
            line-height: 40px;
            text-transform: uppercase;
            margin-top: 30px;
            letter-spacing: 0.1px;
            font-weight: 700;
        }
    }
}

img.integra-thumbnail {
    width: 100%;
    height: 535px;
    object-fit: cover;
    object-position: center;
}

section.integra-content-wrapper {
    padding: 100px 10px;
    .integra-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 33px;
            letter-spacing: 3%;

            & + p {
                margin-top: 30px;
            }
        }
    }

    .integra-content-social {
        display: flex;
        align-items: center;
        min-width: 300px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        font-family: 'Noto Sans', sans-serif;
        span {
            margin-right: 20px;
        }
        .integra-socials {
            .jssocials-share-link {
                border-radius:50%;
                padding: 5px !important;
                background: none;
                border: none;
                box-shadow: none;
                
                > img {
                    width: 35px;
                    height: 35px;
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

section.integra-noticias-relacionadas {
    padding: 130px 10px;

    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, #F3F5F6 0%, rgba(243, 245, 246, 0) 43.33%);
    .noticias-relacionadas-content {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        h2 {
            text-align: center;
            font-size: 33px;
            line-height: 40px;
            letter-spacing: normal;
            text-transform: uppercase;
            margin-bottom: 100px;
        }

        .noticias-relacionadas {
            display: flex;
            justify-content: space-between;

            .noticias-relacionadas-post {
                display: flex;
                flex-direction: column;
                max-width: 380px;
                .post-img-wrapper {
                    > img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .post-text-wrapper {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 240px;
                    height: 100%;
                    .post-date {
                        font-size: 13px;
                        background: $default_yellow;
                        color: $black;
                        padding: 5px 10px;
                        max-width: 100px;
                        text-align: center;
                        transition: all 0.3s;
                        font-weight: 600;
                    }
                    h3 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        text-transform: uppercase; 
                        letter-spacing: normal;
                    }

                    > :nth-child(3) {
                        max-width: 200px;
                        background: transparent;
                        color: $black;
                        border: 1px solid $black;
                        transition: all 0.3s;
                    }
                    &:hover {
                        >:nth-child(3){
                            background: $black;
                            color: $white;
                        }
                        .post-date {
                            background: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}