@import '../utils/variaveis';

section.orcamento-header {
    background: url('../img/orcamento/thumb.png') no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 0 10px;

    .orcamento-header-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        height: 410px;
        display: flex;
        align-items: center;
        position: relative;

        h1 {
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
            color: $white;
        }
    }
    @media(max-width: 768px) {
        .orcamento-header-container {
            height: 300px;
        }
    }
    @media(max-width: 500px) {
        .orcamento-header-container {
            height:200px;
        }
    }
}

section.orcamento-form {
    background: $gradient_default;
    padding: 100px 10px 140px;
    position: relative;
    .orcamento-form-content {
        max-width: 850px;
        width: 100%;
        margin:0 auto;
        .form-wrapper {
            max-width: 850px;
            width: 100%;
            color: $white;
            position: relative;
            
            h2 {
                font-size: 33px;
                line-height: 45px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            p {
                font-weight: 300;
                font-size: 21px;
                line-height: 29px;
                text-align: center;
            }

            > div > form {
                margin-top: 80px;
                label {
                    line-height: 28px;
                    letter-spacing: 0.015em;
                }
                input, textarea, select {
                    border: 1px solid #CDCDCD;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background: transparent;
                    padding: 5px;
                    color: $white;
                    height: 50px;
                    font-size: 20px;
                    outline: none;
                    &:focus {
                        background: $white;
                        color: $black;
                    }

                    & + span {
                        margin-top: 5px;
                        color: $yellow-2;
                    }
                }
                textarea {
                    height: 110px;
                    resize: none;
                }
                .nome, .tipo, .email, .tel, .cel, .mensagem {
                    display: flex;
                    flex-direction: column;
                    input {
                        margin-top: -15px;
                    }
                }
                .nome-tipo {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .nome , .tipo{
                        max-width: 420px;
                        width: 100%;
                    }
                }
                .email-tel-cel {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .email {
                        width: 420px;
                    }
                    
                    .tel-cel {
                        display: flex;
                        justify-content: space-between;
                        width: 420px;
                        .tel, .cel {
                            width: 49.5%;
                            input {
                                min-width: 207px !important;
                                width: 100% !important;
                            }
                        }
                        
                    }
                }

                .termos {
                    max-width: 400px;
                    width:100%;
                    display: flex;
                    margin-top: 20px;
                    span {
                        margin-left: 0;
                    }
                    label {
                        margin-left: 10px;
                        margin-top: 12px;
                    }
                }

                .recaptcha {
                    margin-top: 30px;
                    background: $white;
                    max-width: 360px;
                    padding: 25px 20px 20px;
                    border-radius: 10px;

                    span {
                        color: $black;
                        display: block;
                        text-align: center;
                        margin-bottom: 15px;
                        span {
                            height: 60px;
                        }
                    }

                    .g-recaptcha {
                        > div, iframe {
                            max-width: 260px;
                        }
                    }
                    
                    
                }

                #botao {
                    position: relative;
                    max-width: 250px;
                    min-width: 250px;
                    .link-leia-mais {
                        margin-top: 50px;
                        max-width: 50%;
                        min-width: 250px;
                        height: 80px;
                        padding: 10px 0;
                        width: auto;
                        border: none;
                        background: $black;
                        cursor: pointer;
                        
                       
                        &:hover {
                            color: $black;
                            background: $default_yellow;
                        }
                       
                    }
                    &::after {
                        content: url('../img/curriculo/seta.png');
                        background: $default_yellow;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        right: 25px;
                        top: 22px;
                        
                        position: absolute;
                        
                        color: $white; 
                    }

                    & + div {
                        border: none;
                        color: $default_yellow;
                        padding: 0;
                    }
                }
                @media(max-width: 900px){
                    .nome-tipo {
                        flex-direction: column;
                        flex: 1;
                        
                        .nome, .tipo {
                            width: 100%;
                            max-width: unset;
                        }
                    }
                    .email-tel-cel {
                        flex-direction: column;
                        
                        .email {
                            width: 100%;
                        }
                        .tel-cel {
                            max-width: 100%;
                            width: auto;
                            justify-content: space-between;
                            .cel, .tel {
                                width: 100%;
                            }
                            .tel {
                                margin-right: 5px;
                            }
                        }
                    }
                }
                @media(max-width: 450px) {
                    .email-tel-cel {
                        .tel-cel {
                            flex-direction: column;
                            .tel {
                                margin-right: 0;
                            }
                        }
                    }
                    #botao {
                        width: 100%;
                        max-width: unset;
                        input {
                            font-size: 14px;
                            width: 100% !important;
                            max-width: unset !important;
                            
                        }
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0px;
                left: -250px;
                width: 25%;
                height: 110%;
                border-left: 1px solid rgba(255,255,255,0.2);
                border-top: 1px solid rgba(255,255,255,0.2);
                border-top-left-radius: 100px;
                z-index: 0;
        
            }
        }
    }
    @media(max-width: 768px) {
        padding: 55px 10px;
    }
}

section.orcamento-contato {
    padding: 80px 10px;
    .contato-content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        h2 {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        .contato-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .contato {
                background: linear-gradient(180deg, #BA9FB0 0%, #56558B 100%);
                -webkit-box-shadow: 0px 18px 28px -18px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 18px 28px -18px rgba(0,0,0,0.75);
                box-shadow: 0px 18px 28px -18px rgba(0,0,0,0.75);
                border-radius: 8px;
                max-width: 340px;
                width: 100%;
                padding: 10px 20px 20px 20px;
                display: flex;
                align-items: center;
                color: $white;
                transition: all 0.3s;
                cursor: pointer;
                &:hover {
                    transform: translateY(-10px);
                }

                > div {
                    margin-left: 30px;
                    .titulo {
                        display: block;
                        font-size: 14px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                    .ddd, .numero {
                        font-weight: 300;
                        font-size: 27px;
                        text-transform: uppercase;
                    }
                    .numero {
                        font-weight: 900;
                    }
                }
            }
        }
    }
    @media(max-width: 1100px) {
        .contato-wrapper {
            flex-direction: column;
            align-items: center;
            .contato {
                & + .contato {
                    margin-top: 30px;
                }
            }
        }
    }
    @media(max-width: 600px) {
        padding: 50px 10px;
    }
}