@import '../utils/variaveis';

main.profissionais {
    overflow-x: hidden;
}

section.profissionais-header {
    padding: 0 10px;

    .profissionais-header-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .profissionais-header-wrapper {
            text-align: center;
            padding: 40px 0 60px;

            > img {
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }

            h1 {
                text-transform: uppercase;
                margin-top: 10px;
                color: $blue;
            }
        }
    }
    @media(max-width: 768px) {
        img {
            width: 30px;
        }
        h1 {
            font-size: 24px;
        }
    }
}

section.profissionais-carreira {
    background: $gradient_default;
    padding: 0 10px;

    .profissionais-carreira-content {
        padding: 60px 0px 80px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        color: $white;
        h2 {
            font-size: 24px;
            line-height: 44px;
            letter-spacing: 0.035em;
            margin-bottom: 20px;
        }
        p {
            line-height: 25px;
            letter-spacing: 0.035em;

            & + p {
                margin-top: 20px;
            }
        }
    }
    @media(max-width: 768px) {
        .profissionais-carreira-content {
            padding: 20px 0 40px;
        }
    }
}

section.profissionais-thumb {
    height: 442px;
    img {
        width: 100%;
        height: 442px;
        object-fit: cover;
        object-position: center;
    }
}

section.profissionais-grid {
    background: $gradient_default;
    padding: 60px 10px;

    .profissionais-grid-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        color: $white;

        h2 {
            text-align: center;
            font-size: 24px;
            line-height: 44px;
            letter-spacing: 0.035em;
        }

        .grid-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-content: center;
            justify-items: center;
            grid-gap: 30px;
            margin: 70px 0 40px;
            .profissionais-grid-post {
                max-width: 290px;
                flex: 1;
                transition: all 0.3s;
    
                .grid-post-header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 36px;
                    
                    .numero {
                        margin-right: 12px;
                        
                        border-radius:  10px;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $yellow-2;
                        color: $blue;
    
                        font-weight: 600;
                        font-size: 24px;
    
                        min-width: 48px;
                        min-height: 48px;
                    }
    
                    .etapa {
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.035em;
                    }
                }
                &:hover {
                    transform: translateX(10px);
                }
            }
            @media(max-width: 1000px) {
                grid-template-columns: repeat(2, 1fr);
                .profissionais-grid-post {
                    .grid-post-header {
                        .numero {
                            font-size: 20px;
                            min-width: 40px;
                            min-height: 40px;
                        }
                        .etapa {
                            font-size: 13px;
                        }
                    }
                }
            }
            @media(max-width: 650px) {
                
                grid-template-columns: 1fr;
                grid-gap: 10px;
                
                .grid-post-header {
                    margin-bottom: 20px !important;
                }
            }
        }

        a {
            max-width: 330px ;
            width: 100% ;
            margin: 0 auto;
            filter: drop-shadow(0 0.3rem 0.5rem #444);
            transition: all 0.3s;
            &:hover {
                background: $yellow-2;
                color: $black;
            }
        }
    }
}

section.profissionais-programa {
    background: radial-gradient(178.13% 6214.69% at 157.97% -59.37%, #FFFFFF 0%, #FEFEFE 100%);
    padding: 70px 10px;
    .profissionais-programa-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        .opcoes-programa {
            display: flex;
            flex-direction: column;
            max-width: 300px;

            .slick-list {
                overflow: unset;
                height:100% !important;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            
            .opcoes {
                max-width: 300px !important;
                width: 100% !important;
                padding: 35px 5px 35px 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;
                

                &.slick-current {
                    background: $white;
                    box-shadow: 0px 4px 50px rgba(150, 132, 190, 0.18);
                    border: none;
                    transform: scaleY(1.1);
                    position: relative;
                    z-index: 3;
                    padding-left: 30px;
                    transition: all 0.5s;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 10px;
                    background: $gradient_default;
                    transition: all 0.3s;
                }


                }
                
                h2 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 38px;
                    letter-spacing: 0.035em;
                    color: $blue;
                }
            }
        }
        .info-programa {
            margin: 0 auto;
            padding: 0 20px;
            max-width: 710px;
            width: 100%;
            color: $blue;
            
            p, ul {
                font-size: 16px;
                line-height:26px;
                letter-spacing: 0.035em;
                color: $blue;
                margin-bottom: 20px;
            }

            ul {
                li {
                    height: 100%;
                    padding: 10px 5px;
                    transition: all 0.3s;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: url('../img/empresa/checkmark.png');
                        background: $yellow-2;
                        padding: 0 8px;
                        padding-top: 5px;
                        border-radius: 100%;
                        margin-right: 10px;
                    }
                    &:hover {
                        transform: translateX(10px);
                    }
                }
            }
            @media(max-width: 768px){
                margin-top: 30px;
            }
        }
    }
    @media(max-width: 900px) {
        padding: 20px 10px;
        .profissionais-programa-content {
            flex-direction: column;

            .opcoes-programa {
                flex-direction: row;
                margin: 40px auto;
                .opcoes {
                    &.active {
                        padding-left: 10px;
                    }
                    h2 {
                        font-size: 16px;
                        line-height: 20px;
                        padding-left: 10px;
                        @media(max-width: 400px) {
                            font-size: 13px;
                        }
                    }
                }
            }

            .info-programa {
                flex: 1; 
            }
        }
    }
}