@import '../utils/variaveis';

main.profissionais {
    overflow-x: hidden;
}

section.profissionais-header {
    padding: 0 10px;

    .profissionais-header-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .profissionais-header-wrapper {
            text-align: center;
            padding: 40px 0 60px;

            > img {
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }

            h1 {
                text-transform: uppercase;
                margin-top: 10px;
                color: $blue;
            }
        }
    }
}

section.profissionais-carreira {
    background: $gradient_default;
    padding: 0 10px;

    .profissionais-carreira-content {
        padding: 60px 0px 80px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        color: $white;
        h2 {
            font-size: 24px;
            line-height: 44px;
            letter-spacing: 0.035em;
            margin-bottom: 20px;
        }
        p {
            line-height: 25px;
            letter-spacing: 0.035em;

            & + p {
                margin-top: 20px;
            }
        }
    }
}

section.profissionais-thumb {
    height: 442px;
    img {
        width: 100%;
        height: 442px;
        object-fit: cover;
    }
}