@import '../utils/variaveis';

section.sobre-header {
    background: $gradient_default;
    padding: 0 10px 50px;
    position:relative;

    .sobre-header-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        .sobre-header-wrapper {
            max-width: 800px;
            width: 100%;
            text-align: center;
            color: $white;

            img {
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }

            h1 {
                margin-top: 10px;
                font-size: 35px;
                line-height: 45px;
                text-transform: uppercase;
            }
            span {
                display: block;
                margin: 10px 0 50px;
                font-weight: 300;
                font-size: 20px;
                line-height: 26px;
                text-transform: uppercase;
            }

            p {
                font-weight: 500;
                font-size: 21px;
                line-height: 29px;
            }
        }
    }
    .sobre-socials {
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: -84px;
        left: 5%;
        .sobre-socials-content {
            width: 77px;
            height: 84px;
            
            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transition: all 0.3s;
                }

                &:hover {
                    img {
                        transform: scale(1.3);
                    }
                }
            }
        }
        .face {
            background: $default_grey;
        }
        .insta {
            background: $yellow-2;
        }
    }
}

section.sobre-thumbnail {
    height: 400px;
    width: 100%;
    position: relative;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    span {
        position: absolute;
        top: 100px;
        left: 15%;
        font-family: 'Segoe UI';
        font-weight: 900;
        font-size: 110px;
        line-height: 100px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.06);
        text-shadow: 0px -18px 248px #000000;
    }
}

section.sobre-content-container {
    padding: 60px 10px 10px;
    background: $gradient_default;
    position: relative;

    .sobre-content-wrapper {
        margin: 0 auto;
        max-width: 1300px;
        width: 100%;

        .sobre-content-info {
            color: $white;
            
            max-width: 700px;
            width: 100%;

            p {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.035em;
                & + p {
                    margin-top: 40px;
                }
            }

            > span {
                display: block;
                margin: 40px 0;
                font-weight: 600;
                font-size: 24px;
                letter-spacing: 0.035em;
            }

            .content-info-estrategia {
                padding: 40px 0;
                max-width: 520px;
                display: flex;
                align-items: center;
                > span {
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 33px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
                img {
                    margin-right: 20px;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .sobre-visao-missao {
            position: absolute;
            top: -50px;
            right: 11.5%;
            background: $default_grey;
            max-width: 500px;
            width: 100%;
            height: 120%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 90px 95px 110px;
            border-bottom-right-radius: 200px;

            .sobre-visao-content, .sobre-missao-content {
                color: $white;

                img {
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }

                h2 {
                    margin: 20px 0 10px;
                    font-size: 35px;
                    line-height: 45px;
                    color: $yellow-2;
                    text-transform: uppercase;
                }
                p {
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.035em;
                }
            }

        }
    }

    
}

section.sobre-valores {
    background: $light-grey;
    padding: 80px 10px 100px;
    .sobre-valores-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        h2 {
            margin-left: 20px;
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
            color: $blue;
            margin-bottom: 125px;
        }

        .sobre-valores-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 90px;
            grid-column-gap: 10px;
        }

        .sobre-valores-valor {
            background: $white;
            max-width: 390px;
            width: 100%;
            height: 245px;
            position: relative;
            display: flex;
            align-items: center;
            transition: all 0.3s;
            cursor: pointer;

            .valor-img-wrapper {
                position: absolute;
                top: -39px;
                left: 44px;
                width: 78px;
                height: 78px;
                background: $yellow-2;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s;
                -webkit-box-shadow: 0px 26px 29px -21px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 26px 29px -21px rgba(0,0,0,0.3);
                box-shadow: 0px 26px 29px -21px rgba(0,0,0,0.3);
                img {
                    color: $white;
                    transition: all 0.3s;
                }
            }
            .valor-info-wrapper {
                max-width: 250px;
                width: 100%;
                margin-left: 45px;
                h3, p {
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.035em;
                    color: $blue;
                }
            }

            &:hover {
                background: $yellow-2;

                .valor-img-wrapper {
                    background: $default_grey;

                    img {
                        content: url('../img/sobre/checkmark-1.png');
                    }
                }
            }
        }
    }
}